__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/
.eggs/

*.pkl
*.joblib

.idea/
.vscode/
*.swp
*.swo
.DS_Store

*.db
*.sqlite3

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.iml
pubspec.lock
build/
ios/Pods/

docker-compose.override.yml
